.App {
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  flex-direction: column;
  align-content: center;
  scrollbar-width: none;
}

.Container {
  scrollbar-width: none;
  overflow-y: scroll;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 480px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.Box {
  min-height: 500px;
  width: 90%;
  margin-top: 50px;
  display: flex;
  background-color: #C98986;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
  align-items: center;
}


.Header {
  color: #fff;
  font-size: 40px;
  top: 10px;
  left: 10px;
}

.Footer {
  color: #fff;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 600px) {
  .Header {
    display: flex;
    left: auto;
  }

  .Footer {
    display: flex;
    right: auto;
  }
}


